body{
    background-color: #89d2dc;
    font-family: "Raleway";
}

.exercice, footer{
  color:   #272932;
  background-color: #6564db;
  display: block;
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 15px;
}

footer{
  color:   #272932;
  background-color: #6564db;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

p{ font-size: 18px; }

h1{ font-size: 30px; }

input{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#square{
  position: absolute;
  background-color: yellow;
  height: 120px;
  width: 120px;
}
